body {
  height: 100vh;
  user-select: none;
  position: relative;
} 

/* div {
  border: 1px solid #000;
  height: 100vh; }

#down-block {
  position: relative; 
}
  #down-block > div {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: #f00; 
  } */